.ticketgroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 0px;
}

@media all and (max-width: 992px) {
  .ticketgroup {
    gap: 15px;
  }
}

@media all and (max-width: 768px) {
  .ticketgroup {
    gap: 10px;
  }
}
